.index_top{
    .banner{
        background-image: url(@/assets/images/banner_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:bottom;
        height: 596px;
        // display: grid;
        // grid-template-columns: 350px auto auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 35px 0;
    }
    @media (max-width: 1100px) {
        .banner{
            height: 320px;
            // grid-template-columns: 150px auto auto;
            padding: 8px 22px 20px 0;
        }
    }
     @media(max-width:767px){
        .banner{
            height: 280px;
            // grid-template-columns: 150px auto ;
            padding: 16px 10px 20px 0;
        }
    }
}
.index_top .banner .banner_left{
    .flag{
        width: 250px;
        height: 50px;
        background-color:#F1D2AD;
        font-weight: 500;
        font-size: 30px;
        color: #2C2424;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    img{
        width: 300px;
        height: 400px;
        margin-left: 40px;
        margin-top: 35px;
    }
    .skeleton{
            width: 300px;
            height: 400px;
            margin-left: 40px;
            margin-top: 35px;
            background: linear-gradient(100deg, rgba(256, 256, 256, 0) 30%, rgba(256, 256, 256, 0.5) 50%, rgba(256, 256, 256, 0) 30%) #dadada;
            background-size: 200% 100%;
            background-position-x: 180%;
            animation: 1s loading ease-in-out infinite;
            -webkit-animation: 1s loading ease-in-out infinite;
    }
    @keyframes loading {
        to{
            background-position-x: -20%;
        }
    }


    @media (max-width: 1100px) {
        .flag{
            width: 140px;
            height: 34px;
            font-size: 18px;
            margin-top: 32px;
        }
        img,.skeleton{
            width: 130px;
            height: 170px;
            margin-left: 20px;
            margin-top: 18px;
        }
    }
    @media (max-width: 767px) {
        .flag{
            width: 140px;
            height: 34px;
            font-size: 18px;
            margin-top: 10px;
        }
        img,.skeleton{
            width: 110px;
            height: 140px;
            margin-left: 30px;
            margin-top: 20px;
        }
    }
}

.index_top .banner .banner_center{
    padding: 0 60px 0 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 490px;
    overflow: hidden;
    width: calc(100% - 340px - 300px);
    h1{
        font-family: 'Noto Serif TC';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: #2C2424;
        margin: 20px 0;
        cursor: default;
    }
    .banner_para{
        height: calc(100% - 100px);
        padding-right: 10px;
        overflow: hidden;
        overflow-y: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &::-webkit-scrollbar-track {
            /*捲軸底色*/
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #c4c4c4;
        }
        &::-webkit-scrollbar {
            /*捲軸寬度*/
            width: 0px;
        }
        &::-webkit-scrollbar-thumb {
            /*捲軸本體顏色*/
            background-color: rgb(99, 99, 99);
        }
        div{
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            color: rgb(44, 36, 36,.5);
            margin-bottom: 16px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            gap: 10px 5px;
            span{
                font-family: 'Noto Serif TC';
                white-space: nowrap;
                cursor: default;
            }
        }
        .active{
            color: #2C2424;
        }
    }
    .sound{
        position: absolute;
        right: 15px;
        bottom: 2px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        i{
            position: absolute;
            color: #fff;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            font-size: 32px;
            color: #4f423e;
            background-color: #fff;
        }
    }
    @media (max-width:1366px){
        h1 {
            font-size: 20px;
        }
       .banner_para{
            div{
                font-size: 16px;
            }
        }
    }

    @media (max-width:1100px){
        padding: 0 24px 0 24px;
        height: 280px;
        padding-bottom: 30px;
        width: calc(100% - 150px - 176px);
        h1 {
            font-size: 20px;
            margin: 16px 0;
        }
       .banner_para{
            height:100%;
            overflow: hidden;
            overflow-y: auto;
            div{
                font-size: 16px;
                margin-bottom: 8px;
                gap: 5px;
            }
        }
        .sound{
            right: 10px;
            bottom: 4px;
            width: 26px;
            height: 26px;
            img{
                width: 100%;
            }
        }
    }
    @media (max-width:767px){
        padding: 0 0 0 20px;
        height: 250px;
        padding-bottom: 0px;
        width: calc(100% - 140px);
        h1 {
            font-size: 18px;
            margin: 8px 0;
        }
       .banner_para{
        margin-bottom: 40px;
        padding-right: 10px;
            div{
               font-size: 14px;
                margin-bottom: 8px;
                gap: 0 4px;
            }
        }
        .sound{
            right: 3px;
            bottom: 10px;
            width: 26px;
            height: 26px;
            img{
                width: 100%;
            }
        }
    }
}

.index_top .banner .banner_right{
    .banner_list{
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 300px;
        background-image: url(@/assets/images/banner_list.svg);
        background-repeat: no-repeat;
        background-size: contain;
        .switch_tab{
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 10px;
            span{
                font-size: 18px;
                font-family: 'Noto Serif TC';
                font-weight: bold;
                cursor: pointer;
                width: 100%;
                text-align: center;
                color: rgba(78, 66, 61, 0.7);
                &:first-child{
                    border-right: 1px solid #BDB6AE;
                }
            }
            .active{
                color: #000;
            }
        }
        .tab_list{
            width: 280px;
            padding: 20px 20px 0 20px;
            list-style: none;
            height: calc(100% - 120px);
            overflow: scroll;
            // border-right: 3px solid rgba(0, 0, 0, 0);
            &::-webkit-scrollbar-track {
                /*捲軸底色*/
                // -webkit-box-shadow: inset 0 
                background: none;
            }
            &::-webkit-scrollbar {
                /*捲軸寬度*/
                width: 3px;
                height: 0px;
            }
            &::-webkit-scrollbar-thumb {
                /*捲軸本體顏色*/
                background-color: rgba(79, 66, 62,.2);
            }
            li{
                cursor: pointer;
                display: flex;
                margin-bottom: 16px;
                &:last-child {
                        margin: 0;
                }
                img{
                    width: 70px;
                    height: 84px;
                    margin-right: 8px;
                }
                div{
                    display: flex;
                    flex-direction: column;
                }
                .en{
                    font-weight: 400;
                    font-size: 16px;
                    color: #4E423D;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                }
                .ch{
                    font-weight: 400;
                    font-size: 14px;
                    color: #4E423D;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                }
                .count_view{
                    font-family: 'Noto Sans TC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    display: flex;
                    color: #4E423D;
                    align-items: center;
                    &::before{
                        content: "";
                        display: inline-block;
                        background-image: url(@/assets/images/count_view.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 12px;
                        height: 10px;
                        margin-right: 4px;
                    }
                }
                .count_fav{
                    font-family: 'Noto Sans TC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    display: flex;
                    color: #4E423D;
                    align-items: center;
                    &::before{
                        content: "";
                        display: inline-block;
                        background-image: url(@/assets/images/count_heart.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 12px;
                        height: 10px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    @media(max-width:1100px){
        .banner_list{
            height: 286px;
            width: 176px;
            .switch_tab{
                height: 25px;
                span{
                  font-size: 12px;
                  padding: 0;
                }
            }
            .tab_list{
                width: 166px;
                padding: 0 10px;
                list-style: none;
                height: calc(100% - 60px);
                li{
                    display: flex;
                    margin-bottom: 16px;
                    align-items: center;
                    img{
                        width: 45px;
                        height: 54px;
                        margin-right: 4px;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                    }
                    .en{
                        font-size: 12px;
                        -webkit-line-clamp: 1;
                    }
                    .ch{
                        font-size: 12px;
                    }
                }
            }
        }
    }

    @media(max-width:767px){
        margin-top: 8px;
        width: 100vw;
        .banner_list{
                width: 100%;
                background-image: url(@/assets/images/banner_list_mb.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position:bottom;
                height: 235px;
                .switch_tab{
                    padding-top: 10px;
                    height: 30px;
                    span{
                    font-size: 14px;
                    font-weight: 700;
                    }
                }
                .tab_list{
                    border-right: none;
                    width: 100%;
                    padding: 0  20px;
                    list-style: none;
                    height: calc(100% - 60px);
                    display: flex;
                    justify-content: space-between;
                    &::-webkit-scrollbar {
                        /*捲軸寬度*/
                        width: 0px;
                        height: 3px;
                    }
                    li{
                        display: flex;
                        flex-direction: column;
                        width: 80px;
                        justify-content: flex-start;
                        gap: 4px;
                        margin: 4px 16px 0 0;
                        img{
                            width: 70px;
                            height: auto;
                            margin-right: 4px;
                        }
                        div{
                            display: flex;
                            flex-direction: column;
                        }
                        .en{
                            -webkit-line-clamp: 2;
                        }
                    }
                }
            }
           
    }  
}