.more_blk {
    padding-top: 40px;
    .classify {
        padding: 0 60px 30px 60px;

        .classify_title {
            display: flex;
            border-bottom: 1px solid rgba($color: #fff, $alpha: .3);
            justify-content: space-between;
            align-items: center;

            >div{
                cursor: default;
                display: flex;
                align-items: center;
                text-decoration: none;

                h1 {
                    font-family: 'Noto Serif TC';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    color: #DDDDDD;
                }

                span {
                    margin-left: 15px;
                    font-family: 'Noto Sans TC';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    color: #AAA291;
                }
            }
        }

        .classify_list {
            margin-top: 70px;
            position: relative;
            display: flex;
            flex-wrap: wrap;

                .classify_wrapper {
                    width: calc(100%/6);
                    z-index: 2;
                    margin-bottom: 60px;
                    padding: 0 25px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >img {
                        cursor: pointer;
                        width: 100%;
                        max-width: 180px;
                        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.75));
                    }

                    .tool_bar {
                        margin-top: 8px;
                        display: flex;
                        justify-content: space-between;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        width: 100%;
                        max-width: 180px;
                        color: #DDDDDD;
                        cursor: default;

                        .watch::before {
                            content: "";
                            display: inline-block;
                            background-image: url(@/assets/images/watch.svg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            width: 14px;
                            height: 10px;
                            margin-right: 4px;
                        }

                       .favorite{
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            div{
                                 width: 13px ;
                                 height: 11px;
                                 background-image: url(@/assets/images/heart_on.svg);
                            }
                            .off{
                                background-image: url(@/assets/images/heart_off.svg);
                            }
                        }
                    }

                    .book_name {
                        cursor: pointer;
                        width: 100%;
                        max-width: 180px;
                        margin-top: 4px;
                        font-family: 'Noto Sans TC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: #DDDDDD;

                        span {
                            overflow: hidden;
                            display: -webkit-box;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            white-space: normal;
                        }
                    }
                }
        }
    }

    @media(max-width:1366px) {
    .classify .classify_list {
        margin-top: 50px;
            .classify_wrapper {
                width: calc(100%/5);
        
                >img {                      
                    max-width: none;
                }
        
                .tool_bar {
                     max-width: none;
                }
        
                .book_name {
                    max-width: none;
                }
            }
        }
    }

    @media(max-width:1200px) {
    .classify .classify_list {
            margin-top: 30px;
    
            .classify_wrapper {
                width: calc(100%/4);
    
                >img {
                    max-width: none;
                }
    
                .tool_bar {
                    max-width: none;
                }
    
                .book_name {
                    max-width: none;
                }
            }
        }
    }

    @media(max-width:767px) {
        .classify {
                padding: 0 20px;
            }
        .classify .classify_list {
            margin-top: 30px;
    
            .classify_wrapper {
                width: calc(100%/3);
    
                >img {
                    max-width: none;
                }
    
                .tool_bar {
                    max-width: none;
                }
    
                .book_name {
                    max-width: none;
                    font-size: 14px;
                }
            }
        }
    }

    @media(max-width:500px) {
        .classify{
            padding: 0 10px;
        }
        .classify .classify_title {
            >div{
                h1 {
                    font-size: 18px;
                }

                span {
                    font-size: 14px;
                }
            }
        }


        .classify .classify_list {
            margin-top: 30px;
    
            .classify_wrapper {
                width: calc(100%/2);
    
                >img {
                    max-width: none;
                }
    
                .tool_bar {
                    max-width: none;
                }
    
                .book_name {
                    max-width: none;
                    font-size: 14px;
                }
            }
        }
    }
}